<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.system.bill.dao.BillMapper">



  <select id="findBill" resultType="com.xy.system.bill.domain.BillVO">
    SELECT id,CODE,NAME FROM busi_bill
  </select>

</mapper>